__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
.pytest_cache/
.mypy_cache/
.ruff_cache/

instance/
ipo_boids.db

current_captcha.png
cleaned_captcha.png
current_captcha.wav
ipo_results.txt

.env
.DS_Store
Thumbs.db